<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dir4251A2539A893A6CB85FA93A52491DB8" Name="deps">
                <Component Id="cmpB413B8168300DE9E027335E538701D79" Guid="0A23B189-999C-4F29-9DCE-D337213B1DF4">
                    <File Id="fil2A632034DA6C25FFED56C383741D3B5C" KeyPath="yes" Source="$(var.DependenciesFolder)\abc.dat" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProgramDependencies">
            <ComponentRef Id="cmpB413B8168300DE9E027335E538701D79" />
        </ComponentGroup>
    </Fragment>
</Wix>