<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpDB41F4F783A50C3C8CAA412AB246BED2" Guid="92BFB70A-CC0E-4138-8FF2-3C65E3710D92">
                <File Id="fil6A6836C0CDEB46D06BC08D64BE1AF444" KeyPath="yes" Source="$(var.DependenciesFolder)\abc.dat" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProgramDependencies">
            <ComponentRef Id="cmpDB41F4F783A50C3C8CAA412AB246BED2" />
        </ComponentGroup>
    </Fragment>
</Wix>